---
http_interactions:
- request:
    method: post
    uri: https://trackapi.nutritionix.com/v2/natural/nutrients
    body:
      encoding: UTF-8
      string: query=pizza
    headers:
      X-App-Id:
      - "<X_APP_ID>"
      X-App-Key:
      - "<X_APP_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"13a7-c+n02oZDUpZ+c/UvIr2M0w"
      Status:
      - 200 OK
      Surrogate-Control:
      - no-store
    body:
      encoding: UTF-8
      string: '{"foods":[{"food_name":"pizza","brand_name":null,"serving_qty":1,"serving_unit":"slice","serving_weight_grams":107,"nf_calories":284.62,"nf_total_fat":10.37,"nf_saturated_fat":4.78,"nf_cholesterol":18.19,"nf_sodium":639.86,"nf_total_carbohydrate":35.66,"nf_dietary_fiber":2.46,"nf_sugars":3.83,"nf_protein":12.19,"nf_potassium":184.04,"nf_p":231.12,"full_nutrients":[{"attr_id":255,"value":46.1919},{"attr_id":208,"value":284.62},{"attr_id":268,"value":1190.91},{"attr_id":203,"value":12.1873},{"attr_id":204,"value":10.3683},{"attr_id":207,"value":2.5787},{"attr_id":205,"value":35.6631},{"attr_id":291,"value":2.461},{"attr_id":269,"value":3.8306},{"attr_id":210,"value":0.214},{"attr_id":211,"value":0.8346},{"attr_id":212,"value":1.07},{"attr_id":213,"value":0.4494},{"attr_id":214,"value":1.1235},{"attr_id":287,"value":0.1391},{"attr_id":209,"value":28.8365},{"attr_id":301,"value":20[...]
